<div class="row my-4">
  <div class="col">
    <input type="text" (keyup)="buscarArtista(param.value)"  class="form-control" placeholder="Buscar artista" #param>
  </div>
</div>
<app-loading *ngIf="loading"></app-loading>
<div class="row row-cols-1 row-cols-md-4 g-4">
<app-tarjetas [item]="artista" *ngFor="let artista of artistas"></app-tarjetas>
</div>


<!-- <div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col" *ngFor="let artista of artistas">
      <div class="card">
        <img [src]="artista.images | noimage" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ artista.name }}</h5>
        </div>
      </div>
    </div>
</div> -->
